*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background-color: var(--link);
  color: var(--major);
}

:root {

  --major: #fff;
  --minor: #111;
  --font: #2d2d2d;
  --gray: #999;
  --link: #2c63bc;
  --theme: #f0a6a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --major: #111;
    --minor: #2b2b2b;
    --font: #f5f0e5;
    --gray: #999;
    --link: #3b9bd6;
    --theme: #f0a6a6;
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
  background-color: var(--major);
  color: var(--font);
  min-width: 300px;
}

body{
  margin: 20px;
}

img {
  max-width: 100%;
  border-radius: 1em;
}

a {
  color: var(--font);
  text-decoration: none;
}

input,
textarea{
  background-color: var(--major);
  color: var(--font);
  border: 1px solid var(--theme);
  outline: none;
  width: 100%;
  margin-block: .5em;
  padding: 10px;
  border-radius: 1em;
}

button{
  background-color: var(--theme);
  color: var(--major);
  border: none;
  outline: none;
  padding: 1em .5em;
  border-radius: 10px;
  cursor: pointer;
}
button.submit{
  width: 100%;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.show {
  animation: show .5s;
}